@model IEnumerable<SouvenirSales.WebUI.Models.Entities.Order>
@{
    
        Layout = "~/Views/Shared/_UserLayout.cshtml";
  }
<style>
    body {
        min-height: 100vh;
        background-size: cover;
        font-family: 'Lato', sans-serif;
      
    }

    .container-fluid {
        margin-top: 200px
    }

    p {
        font-size: 14px;
        margin-bottom: 7px
    }

    .small {
        letter-spacing: 0.5px !important
    }

    .card-1 {
        box-shadow: 2px 2px 10px 0px rgb(0,123, 255)
    }

    hr {
        background-color: rgba(248, 248, 248, 0.667)
    }

    .bold {
        font-weight: 500
    }

    .change-color {
        color: black !important
    }

    .card-2 {
        box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
    }

    .fa-circle.active {
        font-size: 8px;
        color: #AB47BC
    }

    .fa-circle {
        font-size: 8px;
        color: #aaa
    }

    .rounded {
        border-radius: 2.25rem !important
    }

    .progress-bar {
        background-color: #AB47BC !important
    }

    .progress {
        height: 5px !important;
        margin-bottom: 0
    }

    .invoice {
        position: relative;
        top: -70px
    }

    .Glasses {
        position: relative;
        top: -12px !important
    }

    .card-footer {
        background-color: #AB47BC;
        color: #fff
    }

    h2 {
        color: rgb(78, 0, 92);
        letter-spacing: 2px !important
    }

    .display-3 {
        font-weight: 500 !important
    }


    .card-footer small {
        letter-spacing: 7px !important;
        font-size: 12px
    }

    .border-line {
        border-right: 1px solid rgb(226, 206, 226)
    }
</style>
@foreach (var item in Model)
{
    <div class="container-fluid my-5 d-flex justify-content-center">
        <div class="card card-1">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                    <div class="col my-auto">
                        <h4 class="mb-0">Thanks for your Order,<span class="change-color">@Session["userName"].ToString()</span> !</h4>
                    </div>
                    <div class="col-auto text-center my-auto pl-0 pt-sm-4">
                        <img class="img-fluid my-auto align-items-center mb-0 pt-3" src="~/Content/images/logo.png" width="115" height="115">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Products</h6>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Order Date: @item.CreateDate</p>
                        <p>Address: @item.User.Adress</p>
                        <p>Mail: @item.User.Email</p>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">


                            @foreach (var item1 in item.OrderProducts)
                            {
                                <div class="card card-2" style="margin-top:5px">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="@item1.Product.ImageUrl" width="135" height="135" /> </div>
                                            <div class="media-body my-auto text-right">
                                                <div class="row my-auto flex-column flex-md-row">
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0">@item1.Product.Name</h6>
                                                    </div>

                                                    <div class="col my-auto"> <small><b>Quantity</b> : @item1.Quantity</small></div>
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0">@item1.Product.Price ₺</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="row justify-content-between">

                                <div class="flex-sm-col text-right col">
                                    <p class="mb-1"><b>Total</b></p>
                                </div>
                                <div class="flex-sm-col col-auto">
                                    <p class="mb-1">@item.TotalPrice ₺</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

    </div>
}

